<%= form_with model: [:admin, @event, @aid_station] do |f| %>
  <% if @aid_station.errors.any? %>
    <ul>
      <% @aid_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
   <% end %>

  <div>
    <%= f.label :name, "エイド名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :latitude, "緯度" %><br>
    <%= f.text_field :latitude, placeholder: "例: 36.3418" %>
  </div>

  <div>
    <%= f.label :longitude, "経度" %><br>
    <%= f.text_field :longitude, placeholder: "例: 140.4468" %>
  </div>

  <div id ="map" style = "height: 350px; margin-top: 16px;"></div>
  
  <script>
    document.addEventListener("turbo:load", ()=> {
      const mapEl = document.getElementById("map");
      if(!mapEl) return;

      const latInput = document.getElementById("aid_station_latitude");
      const lngInput = document.getElementById("aid_station_longitude");

      const initialLat = parseFloat(latInput.value) || 34.55589157441934;
      const initialLng = parseFloat(lngInput.value) || 132.38015867738127;

      if (mapEl._leaflet_id) {
        mapEl._leaflet_id = null;
        mapEl.innerHTML = "";
      }

      const map = L.map("map").setView([initialLat, initialLng], 10);
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; OpenStreetMap contributors"
      }).addTo(map);

      let marker = null;

      if(latInput.value && lngInput.value){
        marker = l.marker([initialLat, initialLng]).addTo(map);
      }

      map.on("click", (e) => {
        const { lat, lng } = e.latlng;

        latInput.value = Lat.toFixed(6);
        lngInput.value = lng.toFixed(6);

        if(marker) marker.remove();
        marker = L.marker([lat, lng]).addTo(map);
      });
    });
  </script>
  
  <%= f.submit %>
<% end %>