<h1><%= @event.name %></h1>
<p><%= @event.description %></p>

<h2>エイドステーション</h2>
<div map id="map" style="height: 400px;"></div>

<script>
  document.addEventListener("turbo:load", () => {
    const mapEl = document.getElementById("map");
    if(!mapEl) return;

      const aidStations = <%= raw(
        @event.aid_stations.select(:name, :latitude, :longitude).to_json
      ) %>;

    const map = L.map("map").setView([34.55589157441934, 132.38015867738127], 10);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "&copy; OpenStreetMap contributors"
    }).addTo(map);

    aidStations.forEach(aid => {
      if(!aid.latitude || !aid.longitude) return;

      L.marker([aid.latitude, aid.longitude])
        .addTo(map)
        .bindPopup(aid.name);
    });
  });
  </script>

  <h2>エイド一覧</h2>

  <% if @aid_stations.any? %>
    <ul>
      <% @aid_stations.each do |aid| %>
        <li>
          <strong><%= aid.name %></strong>
          <% if aid.description.present? %>
            - <%= aid.description %>
          <% end %>

          <% if aid.latitude.present? && aid.longitude.present? %>
            (<%= aid.latitude %>), <%= aid.longitude %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>まだエイドが登録されていません。</p>
  <% end %>

<p><%= link_to "トップページへ戻る", root_path %></p>